<div class="inner-wrapper">
	<section role="main" class="content-body">
		<header class="page-header">
			<h2>Add New Job</h2>
			<div class="right-wrapper pull-right">
				<ol class="breadcrumbs">
					<li>
						<a href="/dashboard">
							<i class="fa fa-home"></i>
						</a>
					</li>
					<li><span>Jobs</span></li>
					<li><span>Add</span></li>
				</ol>
				<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
			</div>
		</header>
		<div class="modal-backdrop fade in" id="loading_div" style="display:none;">
			<div class="loader"></div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<form name="form" id="form" ng-submit="addjobCtrl.add()" novalidate>
					<section class="panel">
						<div class="alert alert-success" id="success-alert"><strong>Success!</strong> Job Added Successfully.</div>
						<div class="alert alert-danger" id="failure-alert"><strong>Failure!</strong> Job Addition Failed.</div>
						<div class="alert alert-info" id="cancel-alert"><strong>Cancelled!</strong> Job Details Reset to Default Values.</div>
						<div class="alert alert-warning" id="validation-alert"><strong>Missing Info!</strong> Job Details Requires More Information.</div>
						<header class="panel-heading">
							<div class="panel-actions">
								<!--<a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
              <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>-->
							</div>
							<h2 class="panel-title">Job Details</h2>
						</header>
						<div class="panel-body">
							<div class="form-group">
								<label class="col-md-3 control-label" for="customer">Customer</label>
								<div class="col-md-6">
									<select class="form-control" name="customer" id="customer" ng-model="addjobCtrl.selectedCustomer" ng-options="customer.full_name for customer in addjobCtrl.atlasCustomers | orderBy:'full_name' track by customer.user_id"
										ng-change="addjobCtrl.selectDefaultAddress()" required></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="title">Title</label>
								<div class="col-md-6">
									<input type="text" class="form-control" name="title" id="title" ng-model="addjobCtrl.job.title">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="category">Category</label>
								<div class="col-md-6">
									<select class="form-control" name="category" id="category" ng-model="addjobCtrl.selectedCategoryL1" ng-options="category.category_name for category in addjobCtrl.jobCategories.categories | orderBy:'category_name' track by category.category_name"
										ng-change="addjobCtrl.changeChildCategory()"></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="subcategory">Sub-Category</label>
								<div class="col-md-6">
									<select class="form-control" name="subcategory" id="subcategory" ng-model="addjobCtrl.selectedCategoryL2" ng-options="option for option in addjobCtrl.selectedCategoryL1.child_categories | orderBy"></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="schedule">Schedule</label>
								<div class="col-md-6">
									<select class="form-control" name="schedule" id="schedule" ng-model="addjobCtrl.selectedSchedule" ng-options="schedule.schedule_name for schedule in addjobCtrl.jobSchedulingOptions.schedules track by schedule.schedule_name"></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="description">Description</label>
								<div class="col-md-6">
									<textarea type="text" class="form-control" name="description" id="description" ng-model="addjobCtrl.job.description"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="address">Customer Addresses</label>
								<div class="col-md-6">
									<select class="form-control" name="address" id="address" ng-model="addjobCtrl.selectedaddress" ng-options="address.site_name for address in addjobCtrl.selectedCustomer.addresses | orderBy:'site_name'"
										ng-change="addjobCtrl.populateAddress(addjobCtrl.selectedaddress)" required></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="sitename">Site Name</label>
								<div class="col-md-6">
									<input type="text" class="form-control" name="sitename" id="sitename" ng-model="addjobCtrl.job.address.site_name" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="street">Street</label>
								<div class="col-md-6">
									<input type="text" class="form-control" name="street" id="street" ng-model="addjobCtrl.job.address.street_address">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="city">City</label>
								<div class="col-md-6">
									<input type="text" class="form-control" name="city" id="city" ng-model="addjobCtrl.job.address.city">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="state">State</label>
								<div class="col-md-6">
									<input type="text" class="form-control" name="state" id="state" ng-model="addjobCtrl.job.address.state">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="country">Country</label>
								<div class="col-md-6">
									<input type="text" class="form-control" name="country" id="country" ng-model="addjobCtrl.job.address.country">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="postcode">Post Code</label>
								<div class="col-md-6">
									<input type="text" class="form-control" name="postcode" id="postcode" ng-model="addjobCtrl.job.address.zip_code">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="landline">Landline Number</label>
								<div class="col-md-6">
									<input type="text" class="form-control" name="landline" id="landline" ng-model="addjobCtrl.job.address.phone_number">
								</div>
							</div>
						</div>
					</section>
					<section class="panel">
						<header class="panel-heading">
							<div class="panel-actions">
							</div>
							<h2 class="panel-title">Job Images</h2>
						</header>
						<div class="panel-body">
							<div flow-init flow-files-submitted="$flow.upload()" flow-name="addjobCtrl.flowobj" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
								<div class="drop" flow-drop ng-class="dropClass">
									<span class="btn btn-primary" flow-btn>Upload Image</span>
									<b>OR</b> Drag And Drop your images here
								</div>
								<br/>
								<div>
									<div ng-repeat="file in $flow.files" class="gallery-box">
										<span class="title">{{file.name}}</span>	
										<div class="multi_thumbnail" ng-show="$flow.files.length">
											<img flow-img="file" />
										</div>	
										<div class="progress progress-striped" style="margin-bottom:2px" ng-class="{active: file.isUploading()}">
											<div class="progress-bar" role="progressbar" aria-valuenow="{{file.progress() * 100}}" aria-valuemin="0" aria-valuemax="100"
												ng-style="{width: (file.progress() * 100) + '%'}">
												<span class="sr-only">{{file.progress()}}% Complete</span>
											</div>
										</div>
										<div class="btn-group">
											<a class="btn btn-xs btn-danger" ng-click="file.cancel()">Remove</a>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</section>
					<div class="form-group">
						<div class="text-center">
							<button type="submit" class="mb-xs mt-xs mr-xs btn btn-primary">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button>
							<button type="button" class="mb-xs mt-xs mr-xs btn btn-danger" ng-click="addjobCtrl.cancel()">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>