<div class="inner-wrapper">
  <section role="main" class="content-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Forgot Password</h1>
        </div>     <div class="form-group"></div>
          		<div class="panel-body">
                <div class="alert alert-success" id="success-alert"><strong>Success!</strong>Check Your Email</div>
		<div class="alert alert-danger" id="failure-alert"><strong>Failure!</strong>Email Not Registered</div>						
					
                <div class="form-group">

								<label class="col-md-2 control-label" for="inputDefault">Registered Email</label>
								<div class="col-md-4">
									<input type="text" class="form-control" id="inputDefault"  ng-model='tempObject.email ' name='email' >
								</div>
								<button ng-click="forgotpass()"  class="mb-xs mt-xs mr-xs btn btn-primary" type="submit">Send</button>
							</div>
              
              	</div>
       
      </div>
      <hr>
    </div>
  </section>
</div>