@charset "utf-8";
.text-primary-table-heading {
    color: #3884da;
    font-size: 15px;
    font-weight: bold;
}

.text-primary-table-heading a{
    color: #3884da;
    font-size: 14px;
}

.sidebar-right-wrapper .fa {
    color: #ffffff !important;
    font-size: 25px !important;
}

.fa.fa-user {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 40px;
    color: #9f9f9f;
    font-size: 30px;
    height: 50px;
    padding: 10px;
    text-align: center;
    width: 50px;
}

/*.cst-sty-page ul.pagination a {
    border: medium none !important;
    color: #0088cc !important;
    font-size: 12px;
}

.cst-sty-page .pagination > li.active a, html.dark .pagination > li.active a {
    background-color: #f5f5f5;
    font-weight: bold;
}*/